header{
    background-color: aqua;
    height: 20vh;
  }
  .container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
  }
  .nav{
    width: 30%;
    height: 50%;
    background-color: coral;
  }
  .ads{
    width: 30%;
    height: 50%;
    background-color: rgb(95, 19, 131);
  }
  .article{
    width: 70%;
    height: 80%;
    background-color: brown;
  }
  .footer{
    width: 70%;
    height: 20%;
    background-color: darkorange;
  }